@font-face {
  font-family: 'Eurostile';
  src: url('../fonts/EurostileLTStd-Demi.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/HelveticaRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
