@import 'mixines';

@media only screen and (max-width : 1200px){
	.container{
			max-width: 960px;
		}
	
	.grid{
		margin-right: 0px;
	}
	
	.wrapper{
		justify-content: space-between;
	}
	
	.text-block{
		width: 45%;
	}
	
	.header{
		.header-bottom{
			.wrapper{
				.submenu{
					&__item{
						margin-left: 8px;
					}
				}
			}
		}
	}
	
	.banner{
		.wrapper{
			.content{
				width: 61%;
			}
		}
	}
	
	.page{
		.works{
			
			.wrapper{
				
				.works__item{
					
					width: 33.33%;
					padding: 0 10px;
					box-sizing: border-box;
				}
			}
		}
		.news{
			.wrapper{
				.news__item{
					width: 33.33%;
					margin: 0 10px;
					box-sizing: border-box;
					margin-bottom: 15px;
				}
			}
		}
	}
}

@media only screen and (max-width : 968px){
	.container{
		max-width: 738px;
	}
	
	.grid{
		max-width: 350px;
		margin-right: 25px;
		width: 35px;
		&:nth-child(3n){
			margin-right: auto;
		}
		&:nth-child(2n){
			margin-right: 0;
		}
	}
	
	.header{
		.header-bottom{
			.wrapper{
				.submenu{
					flex-wrap: wrap;
					justify-content: flex-end;
					&__item{
						margin-right: 0;
						margin-left: 15px;
						margin-top: 7.5px;
						a{
							font-size: 12px;
							max-width: 75px;
						}
					}
				}
			}
		}
	}
	
	.page{
		
		.search{
			
			.wrapper{
				flex-wrap: wrap;
				padding: 0 10px;
			}
		}
		
		.contact-block{
			.wrapper{
				flex-wrap: wrap;
				justify-content: center;
				align-items: center;
				.contact{
					width: 100% !important;
					border: none;
					padding: 0;
					margin-bottom: 35px;
					form{
						margin-bottom: 70px;
						span{
							width: 100%;
						}
					}
					.wpcf7-submit{
					width: 100% !important;
				}
				}
				.gallery{
					width: 100% !important;
					box-sizing: border-box;
				}
				.footer-btn{
					width: 75% ;
				}
				
			}
		}
		
		.advertisement{
			
			.wrapper{
				box-sizing: border-box;
				flex-wrap: wrap;
				
				.left{
					padding: 35px 0;
				}
			}
		}
		
		.article{
			.wrapper{
				h6, h5, h4, h3, h2, h1{
					margin-top: 25px;
				}
				img{
					float: none !important;
					margin: 0 auto !important;
				}
			}
		}
		
		.works{
			
			.wrapper{
				justify-content: space-between;
				.works__item{
					max-width: 32%;
					margin: 0;
					
					&-link{
						p{
							font-size: 14px;
						}
					}
				}
			}
		}
		
		.news{
			.wrapper{
				.news__item{
					margin-right: 0 !important;
					margin:  0 5px;
					margin-bottom: 15px;
				}
			}
		}
	}
		
}

@media only screen and (max-width : 768px){
	.container{
		box-sizing: border-box;
		padding: 0 5%;
	}
	
	.grid{
		width: 100% !important;
		margin-right: 0 !important;
	}
	
	.header{
	.header-top{
		padding: 0 15px;
		.wrapper{
			.menu{
				display: none;
			}
		}
	}
	.header-bottom{
		padding: 0 15px;
		.wrapper{
			.menu{
				display: block;
				//width: 35px;
				margin-right: 15px;
				.menu__icon{
					display: block;
					width: 35px;
					height: 50px;
					cursor: pointer;
					
					text-align: right;
					svg{
						color: yellow;
						font-size: 40px;
					}
					i{
						color: yellow;
						font-size: 40px;
					}
					.fas{
						color: yellow;
						font-size: 40px;
					}
				}
			}
			.menu_state_open{
				display: block;
				position: relative;
				margin-top: 0;
				.menu__container{
					position: absolute;
					right: 0;
					top: 50px;
					display: flex;
					flex-direction: column;
					width: 250px;
					background-color: black;
					padding: 0 20px;
					//margin-top: 350px;
					.menu__item{
						@include text-style (#fff, 14px, 700, 1);
						font-family: 'Helvetica';
						cursor: pointer;
						width: 100%;
						
						
						a{
							@include text-style (#fff, 14px, 700, 1);
							font-family: 'Helvetica';
							display: block;
							transition: 0.4s all ease-out;
							border-bottom: 1px solid rgba(255,255,255,0.3);
							width: 100%; 
							padding: 14px 0;
							
						}
						a:hover{
							color: #ffdd00;
						}
					}
				}
			}
			.submenu{
				display: none;
			}
		}
	}
	}
	
	.banner{
		padding: 15px 0;
		box-sizing: border-box;
		.wrapper{
			.content{
				width: 100% !important;
			}
		}
	}
	
	.page{
		.search{
			.wrapper{
				.text-block{
					width: 100%;
				}
			}
		}
		.services{
			
			.wrapper{
				justify-content: center;
				align-items: center;
				.services__item{
					width: 100%;
					
				}
			}
		}
		.works{
			
			.wrapper{
				
				flex-direction: column;
				align-items: center;
				justify-content: center;
				.works__item{
					width: 100%;
					max-width: 100%;
					
					&-avatar{
						
					}
				}
			}
		}
		.news{
			.wrapper{
				flex-direction: column;
				justify-content: center;
				align-items: center;
				.news__item{
					width: 50%;
					margin-bottom: 50px;;
				}
			}
		}
		.article{
			
		}
	}
	
	.footer{
		padding-bottom: 0px;
			.wrapper{
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
				.copyright{
					width: 90%;
					
				}
				.footer-menu{
					width: 90%;
				}
			}
	}
	
}

@media only screen and (max-width : 600px){
	
	
	.text-block{
		width: 100%;
	}
	
	.banner{
		.wrapper{
			.content{
				padding: 40px;
			}
		}
	}
	
	.page{
		.search{
			
			.wrapper{
				height: inherit;
				.text-block{
					margin-bottom: 100px;
					.title{
						white-space: normal;
						line-height: 40.8px;
						margin-bottom: 15px;
					}
					.description{
						white-space: normal;
					}
				}
			}
		}
		
		.works{
			
			.wrapper{
				.works__item{
					width: 100%;
					max-width: none;
					margin-bottom: 25px;
				}
			}
		}
	}
	
	form{
		span{
			input{
				&::-webkit-input-placeholder{
					font-size: 16px;
				}
			}
		}
		.select-container{
			.select-reason{
			font-size: 12px !important;
		}
		}
		
	}
}

@media only screen and (max-width : 480px){
	.text-block{
		width: 80%;
	}
	
	.header{
		.header-bottom{
			width: 100%;
			box-sizing: border-box;
			.wrapper{
				max-width: none;
				width: 100%;
			}
		}
	}
	
	.banner{
		padding: 7.5px;
		box-sizing: border-box;
		.wrapper{
			width: 100%;
			.content{
				width: 100%;
				//box-sizing: border-box;
				padding: 25px 15px;
				.text{
					
					p{
						line-height: 1.23;
						font-size: 20px;
					}
					span{
						line-height: 1.23;
						font-size: 20px;
					}
				}
				.btn{
					padding: 12px 14px;
				}
			}
		}
	}
	
	.page{		
		.search{
			
			.wrapper{
				padding: 0 15px;
				.text-block{
					height: inherit;
					margin-bottom: 25px;
					.title{
						font-size: 30px;
						line-height: 1;
					}
					p{
						margin: 0;
						
					}
				}
				.input-block{
					margin-left: 63px;
					flex-wrap: wrap;
					input{
						width: 100%;
						&::-webkit-input-placeholder{
							font-size: 14px;
						}
					}
					.search-btn{
						
					}
				}
			}
		}
		.feedback{
			.wrapper{
				.feedback-slider{
					padding: 15px;
					.slide{
						height: 500px;
						.description{
							font-size: 14px;
						}
					}
				}
				
			}
		}
		.news{
			.wrapper{
			
				.news__item{
					width: 100% !important;
				}
			}
		}
	}
}

@media only screen and (max-width : 400px){
	.page{
		
		.contact-block{
			
			.gallery{
				
				.box{
					flex-direction: column;
					justify-content: center;
					align-items: center;
				}
			}
		}
	}
}








