html(lang='en')
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Become A Franchisee
		link(href='./fonts/FA/fontawesome-all.css', rel='stylesheet')
		script(defer src="./fonts/FA/fontawesome-all.js")
		link(rel='stylesheet', href='css/style.css')
		link(rel="stylesheet" type="text/css" href="slick/slick.css")
	body
		.header
			.header-top
				.wrapper(class ='container')
					a.find Find Your Local Storm Guard!
					ul.menu
						li.menu__item
							a( href="./index.html") Home
						li.menu__item
							a(href='./whowe.html' class='active') Who We Are
							.dropdown
								.dropdown__item
									a FAQ
								.dropdown__item
									a Photo Gallery
								.dropdown__item
									a(href='./franch.html') Become a Franchisee
								.dropdown__item
									a Carees
						li.menu__item
							a Services
						li.menu__item
							a Blog
						li.menu__item
							a Locations
			.header-bottom
				.wrapper(class ='container')
					a.logo
						img(src='./img/logo.png')
					ul.submenu
						li.submenu__item
							a Residential
						li.submenu__item
							a Commerical
						li.submenu__item
							a Insurance Claims
						li.submenu__item
							a Why Storm Guard?
						li.submenu__item
							a What People Think
						li.submenu__item
							a Contact
					ul.menu
						.menu__icon
							i(class="fas fa-bars")
						.menu__container
							li.menu__item
								a Residential
							li.menu__item
								a Commerical
							li.menu__item
								a Insurance Claims
							li.menu__item
								a Why Storm Guard?
							li.menu__item
								a What People Think
							li.menu__item
								a Contact
							li.menu__item
								a(href="./index.html") Home
							li.menu__item
								a(href='./whowe.html'  class='active') Who We Are
							li.menu__item
								a Services
							li.menu__item
								a Blog
							li.menu__item
								a Locations
		.page
			section.banner-short(class='franch')
			section.nav
				.wrapper(class ='container')
					.breadcrumbs
						a.breadcrumbs__item(href="./index.html") Home
						span.breadcrumbs__divider >
						a.breadcrumbs__item(href='./whowe.html')  Who We Are
						span.breadcrumbs__divider >
						a.breadcrumbs__item-active Become A Franchise
			section.article
				.wrapper(class ='container franchisee')
					.text-block
						h3.title Own a Storm Guard Franchise!
							.avatar(class='right')
								img(src='./img/franch-article.png')
						p.description.
							The insurance industry estimates that roofing, siding, windows, and gutter claims, due to hail and wind damage, exceeds billions of dollars each year. Storms and exterior property damage happen all across the country, and throughout the year. And yet, the insurance restoration industry is very fragmented, with no major players. The businesses tend to be small and localized, and business practices vary widely because individual owners use individual methods.
						h3.title Who We Are
						p.description.
							Storm Guard Restoration is the fastest-growing exterior restoration franchise offering. We are a young, dynamic company on its way to dominating the exterior insurance and non-insurance restoration industry. By joining the Storm Guard system, you can capitalize on being a part of the first nationally-recognized franchise system for exterior insurance restoration. Our highly-experienced trainers and field staff will train you to operate all aspects of the business, from the sales and claims process to the actual building of the roofing, siding, windows, and gutter projects.
						h3.title Why Consider a Storm Guard Franchise
						p.description.
							This is a very attractive business model that offers a low investment, fast ramp-up, small number of staff, fragmented competition, and a high potential return on investment.
						h3.title Looking for the Right Candidates
						p.description.
							We are looking for motivated individuals who are prepared to take their financial future into their own hands and create successful franchises; people who have the ability to set goals and strive to achieve them; people who are able to learn and execute a precise business plan; people that can lead and motivate employees to achieve short and long term goals. To be a successful Storm Guard Restoration Franchisee, you must be ready to invest in yourself.
						p.description.
							Storm Guard Restoration franchisees come from all walks of life. Typically, they are not contractors, restoration experts, or home improvement gurus. Our franchisees are smart, successful and highly motivated business leaders. They have a disciplined acumen for maximizing opportunity and they know how to run a business. They are committed to building productive teams and long-term relationships. They know how to inspire and how to bring out the best in other people.
						p.description.
							As a Storm Guard Restoration franchisee, your business is guided by a powerful business model. You will utilize Sales Associates to guide your customers through the restoration process, giving them confidence that the job will get done on time with the highest level of service. You will leverage a network of highly skilled subcontractors overseen by a production manager to deliver a smooth restoration experience.
						h3.title Next Steps
						p.description.
						a To start, please call Rita Perkins at 
						a(class="underscore") (919) 977-9517 
						a , or 
						a(class="underscore") submit this form 
						a.
							and we’ll contact you. Once you’ve been qualified, we’ll schedule time for an overview presentation and discussion with you, and provide our Franchise Disclosure Document for your review. You’ll be given plenty of time and opportunity to perform your due diligence. When you make your final decision to purchase a Storm Guard Restoration franchise, we’ll send you our Franchise Agreement.
						p.description.
							Storm Guard offers many great territories for our franchisees – and territories are going fast!
			section.advertisement
				.wrapper(class ='container')
					.text-block
						h3.title Become A Franchise Owner Today!
						p.description Ready to become a franchise owner? Fill out the form to get started.
					.left
						a.btn Fill Out Our Form
			section.contact-block(class='new')
				.wrapper(class ='container')
					.contact
						.text
							.title Contact Us Today
							.description.
								Need more information about our services or insurance claims? Select who from Storm Guard you would like information from and fill the out form. 
						form
							a.footer-btn Contact Your Local Storm Guard Franchise
							a.footer-btn Contact the Storm Guard Corporate Office
					.gallery
						.text
							.title Check Out Our Past Projects
							.description.
								Want to see examples of our past work? Check out the gallery below to see projects we have completed in the past.
						.box
							.gallery__item
								img(src='./img/house.png')
							.gallery__item
								img(src='./img/house.png')
							.gallery__item
								img(src='./img/house.png')
							.gallery__item
								img(src='./img/house.png')
							.gallery__item
								img(src='./img/house.png')
							.gallery__item
								img(src='./img/house.png')
							.gallery__item
								img(src='./img/house.png')
							.gallery__item
								img(src='./img/house.png')
		.footer
			.wrapper(class ='container')
				.copyright
					p.
						Copyright 2017. Storm Guard. All Rights Reserved. Website Produced by: 
					a Inverse Paradox
				ul.footer-menu
					li
						a Customer Service
					li
						a Careers
					li
						a Terms & Conditions
					li
						a Privacy Policy
					li
						a Sitemap
		script(src="./js/jquery-3.2.1.min.js")
		script(type="text/javascript" src="./slick/slick.min.js")
		script(src="./js/index.js")