html(lang='en')
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		title Home Page
		link(href='./fonts/FA/fontawesome-all.css', rel='stylesheet')
		script(defer src="./fonts/FA/fontawesome-all.js")
		link(rel='stylesheet', href='css/style.css')
		link(rel="stylesheet" type="text/css" href="slick/slick.css")
	body
		.header
			.header-top
				.wrapper(class ='container')
					a.find Find Your Local Storm Guard!
					ul.menu
						li.menu__item
							a(class='active' href="./index.html") Home
						li.menu__item
							a(href='./whowe.html') Who We Are
							.dropdown
								.dropdown__item
									a FAQ
								.dropdown__item
									a Photo Gallery
								.dropdown__item
									a(href='./franch.html') Become a Franchisee
								.dropdown__item
									a Carees
						li.menu__item
							a Services
						li.menu__item
							a Blog
						li.menu__item
							a Locations
			.header-bottom
				.wrapper(class ='container')
					a.logo
						img(src='./img/logo.png')
					ul.submenu
						li.submenu__item
							a Residential
						li.submenu__item
							a Commerical
						li.submenu__item
							a Insurance Claims
						li.submenu__item
							a Why Storm Guard?
						li.submenu__item
							a What People Think
						li.submenu__item
							a Contact
					ul.menu
						.menu__icon
							i(class="fas fa-bars")
						.menu__container
							li.menu__item
								a Residential
							li.menu__item
								a Commerical
							li.menu__item
								a Insurance Claims
							li.menu__item
								a Why Storm Guard?
							li.menu__item
								a What People Think
							li.menu__item
								a Contact
							li.menu__item
								a(href="./index.html") Home
							li.menu__item
								a(href='./whowe.html') Who We Are
							li.menu__item
								a Services
							li.menu__item
								a Blog
							li.menu__item
								a Locations
		section.banner
			.wrapper(class ='container')
				.content
					.text
						p Does Your Home or Property Have 
						span.yellow Storm Damage 
						span or 
						span.yellow Need an Update 
						span ?
					a.btn Contact Us Today
		.page
			section.search
				.wrapper(class ='container')
					.text-block
						h3.title.
							Find A Franchise Near You
						p.description.
							Want to speak to us in person? Enter 	your zip code to find the nearest 	franchise.
					form.input-block
						input(placeholder='Enter Zip Code')
						a.search-btn Submit
			section.services
				.text-block
					h3.title What We Offer
					h4.description.
						From home upgrades to storm restoration, Storm Guard offers 
						a range of services to help you with your home.
				.wrapper(class ='container')
					.services__item
						a.avatar
							img(src='./img/siding.png')
						.services__item-textblock
							.title Roofing
							.description.
								Your roof protects your home and family. Turn to a professional when it needs replacement – turn to Storm Guard.
					.services__item
						a.avatar
							img(src='./img/paint.png')
						.services__item-textblock
							.title Gutters
							.description.
								Gutters don’t just handle rain – they also 
								catch leaves, twigs, snow and, depending on 
								where you live, ice.
					.services__item
						a.avatar
							img(src='./img/siding.png')
						.services__item-textblock
							.title Siding
							.description.
								We specialize in residential siding installation and commit ourselves to providing the highest quality siding products to our customers.
					.services__item
						a.avatar
							img(src='./img/paint.png')
						.services__item-textblock
							.title Paint
							.description.
								Painting is the important “finishing touch” on a job well done. Storm Guard’s team of professional painting experts provides a variety of painting services.
					.services__item
						a.avatar(href='./windows.html')
							img(src='./img/siding.png')
						.services__item-textblock
							.title Windows
							.description.
								The right windows can make your home – helping frame your home’s overall look and determine your level of energy efficiency.
					.services__item
						a.avatar
							img(src='./img/paint.png')
						.services__item-textblock
							.title Emergency Tarping
							.description.
								Storm Guard offers emergency tarping services that have helped give homeowners the peace of mind they need until their damage is fully restored.
					.line(class='container')
				a.btn View All Services	
			section.works
				.text-block
					h3.title Ready To Get Started?
					h4.description.
						Damage to your home or business from a storm? 
						Looking to replace your old roof or siding? Get Started below!
				.wrapper(class ='container')
					.works__item
						.works__item-avatar
							img(src="./img/service1.png")
						.works__item-link
							p Residential Repair
					.works__item
						.works__item-avatar
							img(src="./img/service2.png")
						.works__item-link
							p Commercial Repair
					.works__item
						.works__item-avatar
							img(src="./img/service3.png")
						.works__item-link
							p Insurance Claims
			section.feedback
				.text-block
					h3.title See What Clients Have To Say
				.wrapper(class ='container')
					.feedback-slider
						.slide
							.description.
								Storm Guard was with us from beginning to end. They found that there was damage to my roof from wind and hail, and Storm Guard worked with the insurance adjuster to verify the claim. They helped us select replacement shingles and closely supervised the actual replacement to assure that the work was done properly. Storm Guard even trimmed tree branches that encroached on the roof. When the job was completed they left our property with no mess and looking great.
							p.author Arthur M.
							p.place Durham-Chapel Hill, NC
						.slide
							.description.
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus gravida neque. Morbi tincidunt quam vel ligula dapibus, quis accumsan dolor consequat. Quisque quis nibh posuere, lobortis odio ut, auctor erat. Morbi et felis id mi rutrum egestas. Etiam tempus justo tellus, quis congue mi convallis dapibus. Maecenas vitae pharetra eros. Praesent placerat dapibus laoreet. Nunc eu semper magna, et aliquet elit. Pellentesque nisl sapien, gravida vitae ipsum eu, scelerisque elementum massa. Cras venenatis vitae odio in pretium. Quisque lacinia eros blandit velit congue, id tincidunt quam ullamcorper.
							p.author John Smith
							p.place Homeowner
						.slide
							.description.
								They were very professional and knowledgeable. That was an asset in dealing with the insurance adjuster. That part went smoothly as well. The finished product was noticeably appealing from the street view, so to speak. This was actually a pleasant experience, particularly with the personalities involved - particularly Marshall and the owner Carl.
							p.author Michael S.
							p.place New Orleans, LA
						.slide
							.description.
								I own a small business and I am glad I was able to work with another local company. Storm Guard did a great job and they helped my uncle as well.
							p.author V. Patel
							p.place Appalachia, NC
						.slide
							.description.
								We had a pleasant experience throughout the entire process of having our roof replaced. Storm Guard made selecting the perfect roof and color easy and the work was not only done quickly but it was done with such great care. They covered and protected all of the landscaping around our home and the crew had a project manager that stayed in contact with me throughout the entire install. I couldn’t be happier with our experience and I would highly recommend Chris, Tim, and their team at Storm Guard.
							p.author Felicia H.
							p.place Apex, NC
			section.news
				.text-block
					h3.title Latest News
				.wrapper(class ='container')
					.news__item
						.date
							p.month oct
							p.day 19
						.avatar
							img(src='./img/news.png')
						.news__item-text
							.title.
								How to Prep 
								Your Home for Fall
							.description
								p.
									Well, summer has long since passed and we’re officially in fall. It’s the perfect time to refresh your home and give it a good once over in advance of autumn winds and wintry weather. As the seasons change, so do the needs of our homes, as well as the activities we do in and around them. It’s a good time to perform any necessary or desired maintenance in order to keep your home running smoothly. 
								a.link Read More
						.author By Author
					.news__item
						.date
							p.month oct
							p.day 19
						.avatar
							img(src='./img/news.png')
						.news__item-text
							.title.
								How to Prep 
								Your Home for Fall
							.description
								p.
									Well, summer has long since passed and we’re officially in fall. It’s the perfect time to refresh your home and give it a good once over in advance of autumn winds and wintry weather. As the seasons change, so do the needs of our homes, as well as the activities we do in and around them. It’s a good time to perform any necessary or desired maintenance in order to keep your home running smoothly. 
								a.link Read More
						.author By Author
					.news__item
						.date
							p.month oct
							p.day 19
						.avatar
							img(src='./img/news.png')
						.news__item-text
							.title.
								How to Prep 
								Your Home for Fall
							.description
								p.
									Well, summer has long since passed and we’re officially in fall. It’s the perfect time to refresh your home and give it a good once over in advance of autumn winds and wintry weather. As the seasons change, so do the needs of our homes, as well as the activities we do in and around them. It’s a good time to perform any necessary or desired maintenance in order to keep your home running smoothly. 
								a.link Read More
						.author By Author
				a.btn View More News
			section.contact-block
				.wrapper(class ='container')
					.contact
						.text
							.title Contact Us Today
							.description.
								Need more information about our services or insurance claims? Fill out the form below and representitive will be in touch!
						form
							input(placeholder="Name")
							input(placeholder="Phone Number")
							input(placeholder="Zipcode")
							input(placeholder="Email")
							label(class="selectGeneral" 		placeholder="What are you contacting us about?")
								input(type="radio" name="OS")
								div
									input(type="radio" name="OS" value="Linux" id="list[0]")
									label(for="list[0]") choise 1
									input(type="radio" name="OS" value="Windows" id="list[1]")
									label(for="list[1]") choise 2
									input(type="radio" name="OS" 	value="Other" id="list[2]")
									label(for="list[2]") choise 3
							textarea.comments(placeholder='Comments')
							a.footer-btn Submit
					.gallery
						.text
							.title Check Out Our Past Projects
							.description.
								Want to see examples of our past work? Check out the gallery below to see projects we have completed in the past.
						.box
							.gallery__item
								img(src='./img/house.png')
							.gallery__item
								img(src='./img/house.png')
							.gallery__item
								img(src='./img/house.png')
							.gallery__item
								img(src='./img/house.png')
							.gallery__item
								img(src='./img/house.png')
							.gallery__item
								img(src='./img/house.png')
							.gallery__item
								img(src='./img/house.png')
							.gallery__item
								img(src='./img/house.png')
							a.footer-btn View More Photos
		.footer
			.wrapper(class ='container')
				.copyright
					p.
						Copyright 2017. Storm Guard. All Rights Reserved. Website Produced by: 
					a Inverse Paradox
				ul.footer-menu
					li
						a Customer Service
					li
						a Careers
					li
						a Terms & Conditions
					li
						a Privacy Policy
					li
						a Sitemap
		script(src="./js/jquery-3.2.1.min.js")
		script(type="text/javascript" src="./slick/slick.min.js")
		script(src="./js/index.js")

					
				
		
				
				
			